<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_shipblu_settings_root"
              name="ShipBlu"
              parent="base.menu_administration"
              sequence="91"
              groups="petspot_shipblu_base.group_shipblu_user"/>
    <menuitem id="menu_shipblu_backend"
              name="Backends"
              parent="menu_shipblu_settings_root"
              action="action_shipblu_backend"
              sequence="10"/>
    <menuitem id="menu_shipblu_pricing_admin"
              name="Pricing Rules"
              parent="menu_shipblu_settings_root"
              action="action_shipblu_pricing_rule"
              sequence="20"
              groups="petspot_shipblu_base.group_shipblu_ops"/>
    <menuitem id="menu_shipblu_volume_admin"
              name="Volume Discounts"
              parent="menu_shipblu_settings_root"
              action="action_shipblu_volume_discount"
              sequence="25"
              groups="petspot_shipblu_base.group_shipblu_ops"/>
    <menuitem id="menu_shipblu_package_admin"
              name="Package Sizes"
              parent="menu_shipblu_settings_root"
              action="action_shipblu_package_size"
              sequence="30"
              groups="petspot_shipblu_base.group_shipblu_ops"/>
    <menuitem id="menu_shipblu_sla_admin"
              name="SLA Rules"
              parent="menu_shipblu_settings_root"
              action="action_shipblu_sla_rule"
              sequence="35"
              groups="petspot_shipblu_base.group_shipblu_ops"/>
    <menuitem id="menu_shipblu_settlement_admin"
              name="Settlements"
              parent="menu_shipblu_settings_root"
              action="action_shipblu_settlement"
              sequence="40"
              groups="petspot_shipblu_base.group_shipblu_accounting"/>
    <menuitem id="menu_shipblu_api_log"
              name="API Logs"
              parent="menu_shipblu_settings_root"
              action="action_shipblu_api_log"
              sequence="90"/>
</odoo>
