<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_delivery_shipblu_root"
              name="ShipBlu Shipping"
              parent="stock.menu_stock_root"
              sequence="91"
              groups="petspot_shipblu_base.group_shipblu_user"/>

    <menuitem id="menu_delivery_shipblu_dashboard"
              name="Dashboard"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_shipment_dashboard"
              sequence="5"/>
    <menuitem id="menu_delivery_shipblu_shipments"
              name="Shipments"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_shipment"
              sequence="10"/>
    <menuitem id="menu_delivery_shipblu_needs_matching"
              name="Needs Matching"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_shipment_needs_matching"
              sequence="15"/>
    <menuitem id="menu_delivery_shipblu_delivery_orders"
              name="Delivery Orders"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_shipment"
              sequence="12"/>
    <menuitem id="menu_delivery_shipblu_import"
              name="Import ShipBlu Orders"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_import_wizard"
              sequence="20"
              groups="petspot_shipblu_base.group_shipblu_user"/>
    <menuitem id="menu_delivery_shipblu_package_sizes"
              name="Package Sizes"
              parent="menu_delivery_shipblu_root"
              action="petspot_shipblu_base.action_shipblu_backend"
              sequence="55"
              groups="petspot_shipblu_base.group_shipblu_manager"/>

    <menuitem id="menu_delivery_shipblu_returns"
              name="Returns"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_return"
              sequence="30"/>
    <menuitem id="menu_delivery_shipblu_exchanges"
              name="Exchanges"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_exchange"
              sequence="35"/>
    <menuitem id="menu_delivery_shipblu_cash"
              name="Cash Collection orders"
              parent="menu_delivery_shipblu_root"
              action="action_shipblu_cash_collection"
              sequence="40"/>

    <menuitem id="menu_delivery_shipblu_coverage"
              name="Coverage"
              parent="menu_delivery_shipblu_root"
              sequence="50"/>
    <menuitem id="menu_delivery_shipblu_gov"
              name="Governorates"
              parent="menu_delivery_shipblu_coverage"
              action="action_shipblu_governorate"
              sequence="10"/>
    <menuitem id="menu_delivery_shipblu_city"
              name="Cities"
              parent="menu_delivery_shipblu_coverage"
              action="action_shipblu_city"
              sequence="20"/>
    <menuitem id="menu_delivery_shipblu_zone"
              name="Zones"
              parent="menu_delivery_shipblu_coverage"
              action="action_shipblu_zone"
              sequence="30"/>

    <menuitem id="menu_delivery_shipblu_config"
              name="Configuration"
              parent="menu_delivery_shipblu_root"
              action="petspot_shipblu_base.action_shipblu_backend"
              sequence="90"
              groups="petspot_shipblu_base.group_shipblu_manager"/>
    <menuitem id="menu_delivery_shipblu_api_logs"
              name="API Logs"
              parent="menu_delivery_shipblu_root"
              action="petspot_shipblu_base.action_shipblu_api_log"
              sequence="95"
              groups="petspot_shipblu_base.group_shipblu_manager"/>
</odoo>
